/* Master Styles */
h1 {
  color: #ff1200;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #ff1200;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
	margin: 0;
	position: relative;
}
.selected {
	background-color: #CFD8DC !important;
	color: white;
}
.badge {
	display: inline-block;
	font-size: small;
	color: white;
	padding: 0.8em 0.7em 0 0.7em;
	background-color: #607D8B;
	line-height: 1em;
	position: relative;
	left: -1px;
	top: -4px;
	height: 1.8em;
	margin-right: .8em;
	border-radius: 4px 0 0 4px;
}
.noted {
	color: #ff1200;
	width: 9em;

}
.parks {
	color: #ff1200;
}
.btn {
	color: black;
	font-size: small;
}
.link, .link:visited {
	color: #ff1200;
}
.back {
	background-color: rgba(255, 255, 255, 0.8);
}
